<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
      <link rel="stylesheet" href="../static/style.css/">
   </head>
   <body>
      <h1>PiHub :: Welcome!</h1>
      <h2>The date and time on the server is: {{ time }}</h2>
      <h3>
        <a href={{ article }}>Article</a><br/>
        <a href={{ book }}>Book</a><br/>
        <a href={{ gift }}>Gift Idea</a><br/>
        <a href={{ website }}>Website</a><br/>
        <a href={{ video }}>{{ v_title }}</a><br/>
      </h3>

   </body>
</html>