{% extends "base.html" %} {% block title %}Mancave - Sensor Chart{% endblock %}
{%block content %}
<br>
<br>
<form action="/chart" method="POST">
    <label for="area">Area</label>
    <select name="area" id="area">
        {% for name_area in areas %}
        <option value={{ name_area }}>{{ name_area }}</option>
        {% endfor %}
    </select>
    <label for="datatype">Data</label>
    <select name="datatype" id="datatype">
        {% for name_datatype in datatypes %}
        <option value={{ name_datatype }}>{{ name_datatype }}</option>
        {% endfor %}
    </select>
    <input type="submit">
</form>

<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
    function myFunc(vars) {
        return vars
    }

    const ctx = document.getElementById('myChart');
    var graph_label = myFunc({{ labels | tojson }});
    var graph_data = myFunc({{ data | tojson }});

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: graph_label,
            datasets: [{
                label: 'Results',
                data: graph_data,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: [{
                    ticks: {
                        min: Math.min.apply(this, graph_data) - 5,
                        max: Math.max.apply(this, graph_data) + 5,
                    }
                }]
            }
        }
    });
</script>
{% endblock %}